[user]
  name = David V. Lu
  email = davidvlu@gmail.com
[core]
  excludesfile = /home/dlu/.gitignore
[credential]
  helper = cache --timeout=360000
[push]
  default = simple

[url "git@github.com:"]
  insteadOf = https://github.com/

[url "git@github.com:"]
  insteadOf = git://github.com/
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[help]
	autocorrect = 15
