bidict
cson
dbus_next
face-recognition
feedgen
git+https://github.com/DLu/PocketPy
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
graphviz
humanize
mutagen
pdfminer
psutil
py-sonic
pydub
PyGithub
pynput
PyPDF2
python-magic
python-vlc
tabulate
tqdm
youtube_dl
yt-dlp
